extends layout

block content

	h4 wellcome to the world of eCl@ss

	div#status Drag the files from a folder to a selected area ...
	div#drop Drop files here.
	div#list list

	button#show show eClass content
