
doctype html
html
	head
		title eCl@ss
		script(src="javascript/jquery-1.11.1.min.js")
		link(rel="stylesheet", type="text/css", href="css/main.css")
	body
		block content
		script(src="javascript/scripts.js")
		