
doctype html
html
	head
		meta(charset="utf-8")
		title eCl@ss
		script(src="javascript/jquery-1.11.1.min.js")
		script(src="javascript/dropzone.js")
		link(rel="stylesheet", type="text/css", href="css/dropzone.css")
		link(rel="stylesheet", type="text/css", href="css/main.css")
	body
		block content
		script(src="javascript/scripts.js")
		